/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

/* 
colors
bg #000
orange #ff9501
grey #a6a6a6
white #fdfdfd
 */
/* MAIN */
 .calk {
    width: 300px;
    height: 500px;
    /* border: 1px solid #000; */
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
    margin: 50px auto;
 }
 .calk-screen {
    height: 120px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 20px;
 }
 .calk-screen p {
    text-align: right;
    font-size: 4rem;
    margin: o;
 }
 .buttons {
    display: grid;
    grid-template-areas:
    "ac plus-minus percent division"
    "seven eight nine multi"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal"
    ;
    grid-gap: 7px;
    justify-items: center;
 }
 .btn {
    width: 60px;
    height: 60px;
    background-color: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none; 
 }
 .btn.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 34px;
 }
 .btn:hover {
    filter: brightness(120%);
 }
 .btn:active {
    filter: brightness(90%);
 }
 .btn.bg-grey {
    background-color: #a6a6a6;
 }
 .btn.bg-orange {
    background-color: #ff9501;
 }
 
